APP_NAME="Laravel JWT API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_jwt
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_ALGO=HS256
JWT_TTL=15
JWT_REFRESH_TTL=120
